* {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #de9686;
      line-height: 1;
      margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.container {
	margin: 40px auto 20px;
	width: 250px;
  padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.clock .hour {
    background: #fff;
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 0;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    margin: -60px -2px 0;
    padding: 60px 2px 0;
}

.clock {
  border: 5px solid #FFF;
  border-radius: 100%;
  display: block;
  height: 259px;
  width: 250px;
  position: relative;


  }
  .clock .minute {
      background: #fff;
      height: 0;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 0;
      -webkit-transform-origin: 50% 100%;
      -moz-transform-origin: 50% 100%;
      -o-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      margin: -105px -2px 0;
      padding: 105px 2px 0;
      border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
  }
