

title{text-align: center;}

body{
  background-color: #fff;
  font-family: -apple-system, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0px auto;
  text-align: center;
}
img{
  width:500;
  height: 200;

}

h1{
  text-align: center;
  font-size: 500;
}
h2{
  font-weight: 200;
}
#fashion {
    width: 100%;
    height: 500px;
    background-image: url(images/long_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    margin-bottom: 64px;
}
p{
  font-weight: 200;
}
.boxing {
    background: #E2E2FF;
    overflow: scroll;
    white-space: nowrap;
    width: 98%;
    height: 200px;
    padding: 10px;
}
.introduction{
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 22px;
}

.interviewer{
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  color: grey;
}

.subject{
  font-size: 24px;
  font-weight: 300;
  padding-left: 16px;
  line-height: 1.5;
}

#text{
  max-width: 550px;
  margin: 0px auto;
}

#bazaar{
  width: 100%;
  height: 500px;
  background-image: url("images/bazaar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  margin-bottom: 64px;
}
