


#trapezoid {
	border-top: 200px solid skyblue;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	height: -0;
	width: 100px;
  right: 690px;
  bottom: 380px;
  position: fixed;
  transform: skewY(10deg);
	border-radius:15px;
}

#trapezoid2 {
	border-bottom: 200px solid skyblue;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	height: 550px;
	width: 100px;
  left: 750px;
  position: fixed;
  transform: skewY(10deg);
	border-radius:15px;
}


#trapezoid3 {
	border-top: 250px solid grey;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	height: 0;
	width: 50px;
  right: 940px;
  bottom: 200px;
  position: fixed;
  transform: skewY(-10deg);
}

#yellow {
	width: 80px;
	height: 200px;
	background: yellow;
  top: 590px;
  left: 1020px;
  position: fixed;
  transform:skewX(20deg);
}
#brown {
	width: 200px;
	height: 300px;
	background: #C78D37;
  bottom: 200px;
  left: 840px;
  position: fixed;
  transform:skewY(15deg);
}
#black {
  width: 100px;
  height: 150px;
  background: black;
  top: 600px;
  left: 700px;
  border-radius:25px;
  position: fixed;

}
#gold{
  width: 100px;
  height: 120px;
  background-color: gold;
  left: 580px;
  bottom: 180px;
  border-radius:700px 700px 0px 0px;
  border-left: 0;
  position: fixed;
}

#triangle-topright {
	width: 0px;
	height: 0px;
  top: 50px;
  top:200px;
  bottom: 400px;
	border-top: 100px solid red;
	border-left: 60px solid transparent;
  transform:skewY(20deg);
}
