


#trapezoid {
	border-top: 200px solid blue;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	height: -0;
	width: 100px;
  right: 690px;
  bottom: 380px;
  position: fixed;
  transform: skewY(10deg);

}

#trapezoid2 {
	border-bottom: 200px solid blue;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	height: 550px;
	width: 100px;
  left: 750px;
  position: fixed;
  transform: skewY(10deg);
}

#yellow {
	width: 100px;
	height: 200px;
	background: yellow;
  top: 590px;
  left: 960px;
  position: fixed;
}
#brown {
	width: 200px;
	height: 300px;
	background: #C78D37;
  bottom: 200px;
  left: 840px;
  position: fixed;
}
#black {
  width: 100px;
  height: 170px;
  background: black;
  top: 600px;
  left: 700px;
  border-radius:20px;
  position: fixed;

}
#gold{
  width: 100px;
  height: 120px;
  background-color: gold;
  left: 500px;
  bottom: 180px;

  border-radius: : 700px 700px 0px 0px;
  border-left: 0;

  position: fixed;
}
