body {


  text-align: center;
}

    #weather{
      font-size: 30px;
      color: white;
      font-family; Lato, arial;
    }

    /* #tempCircle{
      background-color: pink;
      border-radius: 1000px;
      transform: translate(500px, 500px);
    } */
#sppedText{
  font-size: 30px;
  color: black;
  font-family; Lato, arial;
}
