/* $sky: #e1f6f4;
$sun: #fbc971;
$cloud: #ffffff;
$basket: #d1c1a5;
$balloonRope: #b33e64;
$balloonColor1: #d7608d;
$balloonColor2: #ffffff; */

body {
  background: #e1f6f4;
  height: 100vh;
  overflow: hidden;
}
.up{
border-radius: 100px;
  transform: translate(600px,610px);

}

.down{
  border-radius: 100px;
  transform: translate(900px,610px);

}

.sun {
  width: 250px;
  height: 250px;
  border-radius: 60%;
  background: #ffff99;
  position: absolute;
  left: 50%;
  margin-left: -110px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.balloons{
  -webkit-animation: balloon infinite 3s 0.5s;
          animation: balloon infinite 3s 0.5s;
}
.balloon1{
width: 10%;
  transform: translate(10px,300px);
}

.balloon2{
  width: 10%;
transform: translate(90px,40px);
}

.balloon3{
width: 10%;
transform: translate(1100px,300px);
}

.balloon4{
width: 10%;
transform: translate(500px,90px);
}

.balloon5{
width: 10%;
transform: translate(10px,300px);
}


/* .cloud {
  background: #ffffff;
  width: 200px;
  height: 70px;
  border-radius: 70px;
  position: absolute;
  left: 50%;
  margin-left: -170px;
  margin-top: 200px;
  box-shadow: 0 6px 10px rgba(251, 113, 163, 0.6);
  -webkit-animation: cloud infinite 3s;
          animation: cloud infinite 3s;
} */

/* .cloud:before {
  content: "";
  height: 80px;
  width: 80px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}
.cloud:after {
  content: "";
  height: 120px;
  width: 120px;
  background: #ffffff;
  position: absolute;
  bottom: 10px;
  right: 15%;
  border-radius: 50%;
} */
/*
img{
  width:30%;
} */

.cloud1{
  width:14%;
  position: absolute;
  left: 100%;
  top: 73%;
  margin-left: -170px;
  margin-top: 200px;

  -webkit-animation: cloud infinite 3s;
          animation: cloud infinite 3s;
          -webkit-animation: moveClouds 13s linear infinite;
                  animation: moveClouds 13s linear infinite;
          -webkit-animation-delay: 2s;
                  animation-delay: 2s;
}

.cloud2 {
  position: absolute;
  width:30%;
  bottom: 20%;
  top: 10%;
  left: 100%;
  -webkit-animation: moveClouds 12s linear infinite;
          animation: moveClouds 12s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.cloud3 {
  position: absolute;
  width:22%;
  bottom: 20%;
  top: 200%;
  left: 100%;
  -webkit-animation: moveClouds 15s linear infinite;
          animation: moveClouds 15s linear infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.cloud{
  animation: cloud infinite 3s 0.5s;
}

.balloon{
  animation: balloon infinite 3s 0.5s;
  width:30%;
}

.hot-air-balloon {
  position: absolute;
  left: 46%;
  margin-top: 900px;
  margin-left: -10px;

  /* transform: translate(0px, -600px); */

  -webkit-animation: balloon infinite 3s 0.5s;
          animation: balloon infinite 3s 0.5s;
}
    /* .hot-air-balloon:before {
      content: "";
      background: #d7608d;
      width: 140px;
      height: 160px;
      position: absolute;
      bottom: 26px;
      left: 50%;
      margin-left: -73px;
      border-radius: 50%;
      border: 3px solid #b33e64;
    } */

    &:after {
      content: "";
      background: #d7608d;
      width: 80px;
      height: 49px;
      position: absolute;
      bottom: 4px;
      left: 50%;
      margin-left: -43px;
      transform: perspective(70px) rotateX(-40deg);
      border: 3px solid #b33e64;
      border-top: 0;
    }


  }
  @-webkit-keyframes moveClouds {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-110vw);
              transform: translateX(-110vw);
    }
  }

  @keyframes moveClouds {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-110vw);
              transform: translateX(-110vw);
    }
  }
  @-webkit-keyframes drift {
    0% {
      -webkit-transform: translateY(0px) rotate();
              transform: translateY(0px) rotate();
    }
    50% {
      -webkit-transform: translateY(-20px) rotate(-3deg);
              transform: translateY(-20px) rotate(-3deg);
    }
    100% {
      -webkit-transform: translateY(0px) rotate();
              transform: translateY(0px) rotate();
    }
  }
  @keyframes drift {
    0% {
      -webkit-transform: translateY(0px) rotate();
              transform: translateY(0px) rotate();
    }
    50% {
      -webkit-transform: translateY(-20px) rotate(-3deg);
              transform: translateY(-20px) rotate(-3deg);
    }
    100% {
      -webkit-transform: translateY(0px) rotate();
              transform: translateY(0px) rotate();
    }
  }





  @-webkit-keyframes cloud {
    0%, 100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }

  @keyframes cloud {
    0%, 100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
  @-webkit-keyframes balloon {
    0%, 100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
  @keyframes balloon {
    0%, 100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
